.header {
  padding-left: 69px;
  padding-top: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-right: 117px;
  position: relative;
}

/* Form {
  position: absolute;
  right: 200px;
} */
